header {
  font-family: 'ninomtavruli';
  padding: 2%;
}
header img,
header nav,
header nav li {
  display: inline-block;
  vertical-align: middle;
}
header nav a:hover {
  color: #ee4036;
}
header img {
  margin-right: 2%;
}
header nav li {
  margin-left: 20px;
  color: #3d58a6;
  font-size: 22px;
  font-family: 'ninomtavruli';
  font-weight: bold;
}
.active-page {
  color: #ee4036;
}
main {
  padding: 0px 2%;
}
.chapter-num {
  width: 56px;
  height: 56px;
  display: inline-block;
  background-color: #3d58a6;
  color: white;
  padding: 5px;
  font-size: 37px;
  text-align: center;
  margin-bottom: 1%;
}
.chapter-head {
  color: #3d58a6;
  font-size: 22px;
  margin-bottom: 3%;
  font-family: 'ninomtavruli';
}
.chapter-theme {
  font-size: 20px;
  margin-bottom: 2%;
  font-family: 'ninomtavruli';
}
.chapter-img {
  vertical-align: top;
  display: inline-block;
}
.chapter-info {
  margin-left: 4%;
  margin-bottom: 2%;
  width: 929px;
  font-family: 'ingiri';
}
.chapter {
  padding-bottom: 3%;
  display: inline-block;
}
footer {
  padding: 0px 3% 3% 3%;
}
.fb-logo {
  border-right: 1px solid #363e97;
  padding-right: 35px;
}
.yt-logo {
  padding-left: 30px;
}
.html-banner {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 96%;
  height: auto;
}
.article-header {
  margin-top: 12%;
  margin-bottom: 3%;
  margin-left: 3%;
  font-family: 'roboto-regular';
}
main article p {
  display: inline-block;
  width: 355px;
  vertical-align: top;
  margin: 3% 0 0 3%;
  font-family: 'roboto-regular';
}
main article h3 {
  font-family: 'roboto-regular';
}
main article img {
  display: inline-block;
  margin-top: 3%;
}
main article {
  display: inline-block;
  padding: 1%;
  background-color: #f2f2f2;
  width: 46%;
  margin-bottom: 4%;
}
.article1 {
  margin-left: 3%;
  right: 1px;
}
.article2 {
  margin-right: 3%;
  margin-left: 1%;
}
.contacts-main {
  background-color: #e6e6e6;
  padding: 2% 2% 5% 2%;
  margin-bottom: 3%;
}
.contact-info {
  color: #3d58a6;
  font-size: 20px;
  font-weight: bold;
  font-family: 'ninomtavruli';
}
.contacts-main p {
  font-family: 'ingiri';
}
.contact-span {
  color: #808080;
  font-size: 16px;
}
.contacts-main div {
  display: inline-block;
  vertical-align: top;
  margin-left: 3%;
  margin-top: 1%;
  margin-right: 3%;
}
